@import '../fonts/Nexa/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  line-height: 1.4;
  @apply tw-font-nexa tw-text-sm tw-text-white;
}

@layer components {
  .wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }

  .layout-base {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
  }

  @screen md {
    .wrapper {
      max-width: 768px;
      padding-left: 34px;
      padding-right: 34px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @screen lg {
    .wrapper {
      max-width: 1024px;
    }
  }

  @screen xl {
    .wrapper {
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1200px;
    }
  }

  @screen 2xl {
    .wrapper {
      max-width: 1920px;
    }
  }
}
