@layer components {
  .cover {
    overflow: hidden;
  }

  .cover::before {
    content: "";
    width: 260px;
    height: 260px;
    z-index: 0;
    background-image: url(@/assets/images/cfera.png);
    background-repeat: no-repeat;
    mix-blend-mode: luminosity;
    background-size: cover;
    transform: rotate(90deg);
    position: absolute;
    top: -88px;
    right: -56px;
  }

  @screen lg {
    .cover::before {
      width: 574px;
      height: 546px;
      right: -313px;
    }

    .cover--screen::before {
      width: 857px;
      height: 937px;
      right: -367px;
      top: -177px;
    }
  }

  @screen 2xl {
    .cover::before {
      width: 600px;
      height: 600px;
    }

    .cover--screen::before {
      width: 1212px;
      height: 1170px;
      transform: rotate(-180deg);
      right: -450px;
      top: -270px;
    }
  }
}
