@layer components {
  .cover {
    overflow: hidden;
  }

  

  @screen lg {
    .cover::before {
      width: 574px;
      height: 546px;
      right: -313px;
    }

    .cover--screen::before {
      width: 857px;
      height: 937px;
      right: -367px;
      top: -177px;
    }
  }

  @screen 2xl {
    .cover::before {
      width: 600px;
      height: 600px;
    }

    .cover--screen::before {
      width: 1212px;
      height: 1170px;
      transform: rotate(-180deg);
      right: -450px;
      top: -270px;
    }
  }
}
