@screen md {
  
}

@screen xl {
  .decor-rock::after {
    top: -94px;
    right: -281px;
  }
}

@screen 2xl {
  .decor-rock::after {
    width: 1260px;
    height: 1260px;
    left: 0;
    top: -183px;
  }
}
