@font-face {
  font-family: 'Nexa';
  src: local("Arial");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nexa-reg';
  src: url("nexa-reg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url("nexa-ru-bold.otf");
  font-weight: 800;
  font-style: normal;
}
